 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #ffffff, #e5e5e5);
  background-size: cover;
  min-height: 1687px;
}

.u-section-1 .u-text-1 {
  margin: 98px auto 0;
}

.u-section-1 .u-image-1 {
  width: 605px;
  height: 79px;
  margin: -3px calc(((100% - 1140px) / 2)  + 254px) 0 auto;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 13px calc(((100% - 1140px) / 2)  + 390px) 0 auto;
  padding: 24px 103px 26px 102px;
}

.u-section-1 .u-image-2 {
  width: 1234px;
  height: 735px;
  margin: 30px auto 0;
}

.u-section-1 .u-group-1 {
  height: auto;
  min-height: 140px;
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 1px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 18px 0 0 22px;
}

.u-section-1 .u-text-3 {
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 1px auto -18px 21px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1512px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 836px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -26px;
    margin-right: calc(((100% - 940px) / 2) + 254px);
    margin-left: calc(((100% - 940px) / 2)  + 350px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-right: calc(((100% - 940px) / 2) + 190px);
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 560px;
    margin-left: calc(((100% - 940px) / 2)  + -13px);
  }

  .u-section-1 .u-group-1 {
    margin-bottom: -354px;
    width: calc(((100% - 940px) / 2)  + 940px);
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1381px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 98px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 53px;
    margin-right: calc(((100% - 720px) / 2) + 115px);
    margin-left: calc(((100% - 720px) / 2)  + 350px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 429px;
    margin-top: 333px;
    margin-left: calc(((100% - 720px) / 2)  + -13px);
  }

  .u-section-1 .u-group-1 {
    margin-top: 258px;
    margin-bottom: 60px;
    width: calc(((100% - 720px) / 2)  + 720px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1266px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 723px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 71px;
    margin-top: 27px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 301px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 322px;
    margin-top: 373px;
    margin-left: calc(((100% - 540px) / 2)  + -13px);
  }

  .u-section-1 .u-group-1 {
    margin-top: 217px;
    margin-bottom: -354px;
    width: calc(((100% - 540px) / 2)  + 540px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 707px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 114px;
    margin-left: calc(((100% - 340px) / 2)  + 95px);
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 45px;
    margin-top: 0;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -14px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -11px);
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 203px;
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 390px;
    min-height: 155px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 36px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.5625rem;
    width: auto;
    margin-top: 9px;
    margin-right: 19px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    width: auto;
    margin: 2px -1px 0 2px;
  }
}