 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #ffffff, #e5e5e5);
  background-size: cover;
  min-height: 2322px;
}

.u-section-1 .u-text-1 {
  margin: 134px auto 0;
}

.u-section-1 .u-image-1 {
  width: 226px;
  height: 63px;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 27px calc(((100% - 1140px) / 2)  + 390px) 0 auto;
  padding: 24px 103px 26px 102px;
}

.u-section-1 .u-image-2 {
  width: 1213px;
  height: 753px;
  margin: 34px calc(((100% - 1140px) / 2)  + -73px) 0 auto;
}

.u-section-1 .u-image-3 {
  width: 1213px;
  height: 773px;
  margin: 0 calc(((100% - 1140px) / 2)  + -73px) 0 auto;
}

.u-section-1 .u-group-1 {
  height: auto;
  min-height: 134px;
  width: 1234px;
  margin: 0 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 18px 0 0 22px;
}

.u-section-1 .u-text-3 {
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 1px 1px -18px 21px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1979px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2) + 190px);
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 584px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-3 {
    width: 940px;
    height: 599px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1702px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 447px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 459px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1475px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 335px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 344px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 863px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 108px;
  }

  .u-section-1 .u-image-1 {
    width: 174px;
    height: 57px;
    margin-top: -1px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 211px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 217px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    min-height: 141px;
    width: 340px;
    margin-top: 1px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.4375rem;
    width: auto;
    margin-top: 11px;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 3px;
    margin-bottom: 0;
  }
}