 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1920px;
}

.u-section-1 .u-text-1 {
  margin: 98px auto 0;
}

.u-section-1 .u-image-1 {
  width: 605px;
  height: 79px;
  margin: -3px 254px 0 auto;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 13px 390px 0 auto;
  padding: 24px 103px 26px 102px;
}

.u-section-1 .u-image-2 {
  width: 865px;
  height: 736px;
  margin: 23px auto 0 124px;
}

.u-section-1 .u-image-3 {
  width: 865px;
  height: 355px;
  margin: 0 auto 0 124px;
}

.u-section-1 .u-image-4 {
  width: 865px;
  height: 348px;
  margin: 0 auto 0 124px;
}

.u-section-1 .u-group-1 {
  height: auto;
  width: 865px;
  min-height: 137px;
  margin: 0 auto 36px 124px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 36px 23px 0 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 190px;
  }

  .u-section-1 .u-image-2 {
    height: 735px;
    margin-left: 75px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 75px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 75px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 75px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1679px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 115px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 612px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 295px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 290px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1372px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 71px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 459px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 221px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 218px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 74px;
    margin-right: 97px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 45px;
    margin-right: -12px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: -12px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 289px;
    margin-right: -12px;
  }

  .u-section-1 .u-image-3 {
    width: 338px;
    height: 139px;
    margin-right: -11px;
  }

  .u-section-1 .u-image-4 {
    width: 338px;
    height: 137px;
    margin-right: -11px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 172px;
    margin-right: -13px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
  }
}